@{
    ViewData["Title"] = "Privacy Policy";
    Layout="_Layout2";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

@* 
@model IEnumerable<NS.FoodOrder.Data.Entities.User>
@{
    }
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }
    th, td {
        padding: 8px;
        text-align: left;
    }
    th {
        background-color: #4CAF50;
        color: white;
    }
    tr:nth-child(even) {
        background-color: #F2F2F2;
    }
    a {
        color: #4CAF50;
        text-decoration: none;
    }
    a:hover {
        color: #4CAF50;
        text-decoration: underline;
    }
</style>
<div>
    <h2>User Details</h2>
</div>
<table>
    <thead>
        <tr>
            <th>FirstName</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Email</th>
            <th>PhoneNumber</th>
            <th>City</th>
            <th>Country</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var prod in Model)
        {
            <tr>
                <td>
                   @prod.FirstName
                </td>
                <td>
                   @prod.LastName
                </td>
                <td>
                   @prod.Age
                </td>
                <td>
                   @prod.Email
                </td>
                <td>
                   @prod.PhoneNo
                </td>
                <td>
                   @prod.City
                </td>
                <td>
                   @prod.Country
                </td>
                <td>
                    @prod.Address
                </td>
               
               
            </tr>
        }
    </tbody>
</table> *@