@using NS.FoodOrder.Data.CustomEntities
@model IEnumerable<NS.FoodOrder.Data.Entities.User>

@{
    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
    Layout="_Layout";
}
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #4CAF50;
        color: white;
    }

    tr:nth-child(even) {
        background-color: #F2F2F2;
    }

    a {
        color: white;
        text-decoration: none;
    }

    a:hover {
        color: #4CAF50;
        text-decoration: underline;
    }
</style>
<div>
    <h2>Users</h2>
    @using (Html.BeginForm())
{
    <p>
        Search Name: @Html.TextBox("Search_Data", ViewBag.FilterValue as string)
        <input type="submit" value="Find" />
    </p>
}
</div>
<table>
    <thead>
        <tr>
            <th> @Html.ActionLink("FirstName", "UserDetails", new {Sorting_Order = ViewBag.SortingName })  </th>
            <th>Last Name</th>
            <th>Profile Pic</th>
            <th> @Html.ActionLink("Age", "UserDetails", new { Sorting_Order = ViewBag.SortingName })  </th>
            <th>Email</th>
            <th>PhoneNumber</th>
            <th>City</th>
            <th>Country</th>
            <th>Address</th>
            <th>Action</th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var prod in Model)
        {
            <tr>
                <td>
                    @prod.FirstName
                   
                </td>
                <td>
                    @prod.LastName
                </td>
                <td>
                    <img src="~/Uploads/@prod.ProfilePic" height=20% width=20% alt="NO IMAGE FOUND" srcset="">
                </td>
                <td>
                    @prod.Age
                     
                </td>
                <td>
                    @prod.Email
                </td>
                <td>
                    @prod.PhoneNo
                </td>
                <td>
                    @prod.City
                </td>
                <td>
                    @prod.Country
                </td>
                <td>
                    @prod.Address
                </td>
                <td>
                    @if(prod.IsActive){
                         @Html.ActionLink("DeActivate","ActivateDeactivateRecord",new{prod.Id},new{@class="btn btn-danger",onclick="return confirm('Do you really want to Deactivate this record')"})
                    }
                    else{
                          @Html.ActionLink("Activate","ActivateDeactivateRecord",new{prod.Id},new{@class="btn btn-danger",onclick="return confirm('Do you really want to Activate this record')"})
                    }   
                 </td>
            </tr>
        }
    </tbody>
</table>

<div class="container">
    @if (pager.TotalPages > 0)
    {
        <ul class="pagination justify-content-end">
            @if (pager.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Home"
                asp-action="UserDetails"
                asp-route-pg="1">First</a>
                </li>
                <li>
                    <a class="page-link" asp-controller="Home"
                asp-action="UserDetails"
                asp-route-pg="@(pager.CurrentPage-1)">Previous</a>
                </li>
            }
            @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
            {
                <li class="page-item @(pge == pager.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-controller="Home"
                asp-action="UserDetails"
                asp-route-pg="@pge">@pge</a>
                </li>
            }
            @if (pager.CurrentPage < pager.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Home"
                asp-action="UserDetails"
                asp-route-pg="@(pager.CurrentPage+1)">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" asp-controller="Home"
                asp-action="UserDetails"
                asp-route-pg="@(pager.TotalPages)">Last</a>
                </li>
            }
        </ul>
    }
</div>