@model IEnumerable<NS.FoodOrder.Data.Entities.User>

@{
    Layout="_Layout";
    @* Layout="_LayoutMenu"; *@
}
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #4CAF50;
        color: white;
    }

    tr:nth-child(even) {
        background-color: #F2F2F2;
    }

    a {
        color: white;
        text-decoration: none;
    }

    a:hover {
        color: #4CAF50;
        text-decoration: underline;
    }
</style>
<div>
    <h2>Users</h2>
    @using (Html.BeginForm())
{
    <p>
        Search Name: @Html.TextBox("Search_Data", ViewBag.FilterValue as string)
        <input type="submit" value="Find" />
    </p>
}
</div>
<table>
    <thead>
        <tr>
            <th> @Html.ActionLink("FirstName", "UserDetails", new {Sorting_Order = ViewBag.SortingName })  </th>
            <th>Last Name</th>
            <th>Profile Pic</th>
            <th> @Html.ActionLink("Age", "UserDetails", new { Sorting_Order = ViewBag.SortingName })  </th>
            <th>Email</th>
            <th>PhoneNumber</th>
            <th>City</th>
            <th>Country</th>
            <th>Address</th>
            <th>Action</th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var prod in Model)
        {
            <tr>
                <td>
                    @prod.FirstName
                   
                </td>
                <td>
                    @prod.LastName
                </td>
                <td>
                    <img src="~/Uploads/@prod.ProfilePic" height=20% width=20% alt="NO IMAGE FOUND" srcset="">
                </td>
                <td>
                    @prod.Age
                     
                </td>
                <td>
                    @prod.Email
                </td>
                <td>
                    @prod.PhoneNo
                </td>
                <td>
                    @prod.City
                </td>
                <td>
                    @prod.Country
                </td>
                <td>
                    @prod.Address
                </td>
                <td>
                    @if(prod.IsActive){
                         @Html.ActionLink("DeActivate","ActivateDeactivateRecord",new{prod.Id},new{@class="btn btn-danger",onclick="return confirm('Do you really want to Deactivate this record')"})
                    }
                    else{
                          @Html.ActionLink("Activate","ActivateDeactivateRecord",new{prod.Id},new{@class="btn btn-danger",onclick="return confirm('Do you really want to Activate this record')"})
                    }
                   
                 </td>



            </tr>
        }
    </tbody>
</table>